@import url(fontiran.css);
html,
body,
#heroimage {
    width: 100%;
    height: 100vh;
    font-family: IRANSans !important;
    font-weight: 300;
    background-color: #E2E2E2;
}
html{
    min-height:100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
    font-family: IRANSans !important;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 45px !important;
}

$primaryColor: #1abc9c;
/* -------------------------------- 

Navbar Style

-------------------------------- */

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

#navbar-primary .container-fluid {
    background-image: url(../images/navigation-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 76% 70px;
    //    margin-top: -23px;
}

#navbar-primary .navbar-nav {
    //  background: #ededed;
    width: 100%;
    text-align: center;
    > li {
        display: inline-block;
        float: none;
        > a {
            padding-left: 30px;
            padding-right: 30px;
            color: white;
            padding-top: 5px;
            font-weight: bold;
        }
        >a:hover{
            color: $primaryColor;
        }
    }
    > li:hover {
        background-color: transparent;
        color: $primaryColor;
    }
    #logo-navbar-middle {
        width: 55px;
        height: 55px;
        padding-bottom: 0px !important;
        padding-bottom: 0px;
        vertical-align: middle;
    }
    #logo_placeholder a {
        height: auto;
        padding: 0px !important
    }
    #logo_placeholder img {
        vertical-align: middle;
    }
    .nav_item {
        padding-top: 0px;
    }
}

/* -------------------------------- 

Header Style

-------------------------------- */

#heroimage {
    height: 100vh;
    background: url('../images/header-image.png') center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    /* add */
    justify-content: center;
    /* add to align horizontal */
    align-items: center;
    /* add to align vertical */
    img {
        width: 410px;
        height: 350px;
    }
}


/* -------------------------------- 

Our Abilities Section

-------------------------------- */

.ourAbiliities {
    h1 {
        font-weight: bold;
        text-align: center;
        color: $primaryColor;
        margin-top: 7%;
    }
    p {
        padding-right: 10%;
        padding-left: 15%;
        margin-top: 5%;
        text-align: center;
    }
}

.frame .slidee li {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    width: 50px !important;
    height: 100%;
}

.abilities {
    h1 {
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
        height: 100px;
        margin-top: -160px;
        color: #5F5F5F;
    }
    p {
        color: gray;
        text-align: center;
        padding: 10px;
        margin-top: 10%;
        font-size: 15px;
        padding-bottom: 0px;
    }
    img {
        margin-top: -120px;
        width: 125px;
        height: 125px;
    }
}


/* -------------------------------- 

Macbook About us Style

-------------------------------- */

#macbook_image {
    margin-bottom: 10px;
}

#macbook_title {
    color: #1abc9c;
    direction: rtl;
    text-align: justify;
    font-weight: bold;
    padding-right: 6%;
    padding-left: 2%;
}

#macbook_text {
    color: white;
    direction: rtl;
    text-align: justify;
    margin: 20px;
}


/* -------------------------------- 

Social Networks Section

-------------------------------- */

#follow_SNs {
    background-image: url(../images/share-bacjground.png);
    background-size: 100% 100vh;
    height: 100vh;
    .sn_row {
        margin-top: 15%;
        .sn_title {
            direction: rtl;
            text-align: right;
        }
        h2 {
            color: white;
            text-align: center;
            direction: rtl;
            float: right;
        }
        .sn_image {
            img {
                width: 80px;
                height: 80px;
            }
        }
        #email_icon {
            margin-top: 20px;
            width: 90px;
            height: 60px;
        }
    }
}

#follow_title {
    color: black;
    direction: rtl;
    text-align: right;
    margin-bottom: -30px;
    margin-top: 30%;
    padding: 1% 2% 1% 7%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-right:  3px solid $primaryColor;
    font-weight: bold;
}

#follow_text {
    color: black;
    direction: rtl;
    text-align: justify;
    margin: 20px;
    padding: 1% 2% 1% 7%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-right:  3px solid $primaryColor;
    line-height: 35px;
    margin-top: 40px;
}

#follow_detail {
    img {
        /*--- Line --- */
        width: 70%;
        margin-left: 80px;
    }
}

#social_ntworks_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline;
        img {
            width: 100px;
            height: 100px;
        }
    }
    li p {
        color: white;
        text-align: center;
    }
}


/* -------------------------------- 

Iphone About us Style

-------------------------------- */

#iphone_back_image {
    margin-left: -120px;
    margin-top: -00px;
    height: 780px;
    width: 75%;
    z-index: 1;
}
#iphone_image{
    width: 50%;
    height: 75%;
    margin-left: 0px;
    z-index: 0;
    margin-left: -140px;
}

#iphone_title {
    color: white;
    direction: rtl;
    text-align: justify;
    margin: 20px;
    border-right:  3px solid #fff;
    font-weight: bold;
    padding: 1% 2% 1% 7% !important;
    margin-right: 10%;
    padding-left: 70px;
    font-size: 29px;
    margin-top: 10%;
}

#iphone_text {
    color: white;
    direction: rtl;
    text-align: justify;
    text-align: right;
    margin: 20px;
    border-right:  3px solid #fff;
    padding: 1% 2% 1% 7% !important;
    margin-right: 10%;
    padding-left: 70px;
    margin-top: 5%;
    margin-bottom: 35%;
}

#iphone_aboutus {
    background-image: url(../images/iphone-background.png);
    background-size: 100% 100%;
    img {
        /*--- Line --- */
        width: 70%;
        margin-left: 80px;
    }
}


/* -------------------------------- 

Blog Post Style

-------------------------------- */

#section6 {
    h1 {
        padding-top: 3%;
        font-weight: bold;
        margin-top: 0px;
    }
    .blog_line {
        width: 20%;
        border: none;
        height: 2px;
        /* Set the hr color */
        color: white;
        /* old IE */
        background-color: white;
        /* Modern Browsers */
    }
    .blog_line:nth-of-type(1) {
        margin-left: 45%;
    }
    .blog_line:nth-of-type(2) {
        margin-left: 33%;
    }
    .card {
        height: 450px !important;
        background-image: url(../images/Wordpress-Wallpapers.jpg);
        background-size: cover;
        border-radius: 20px;
        border-top-right-radius: 0px;
        width: 25%;
        margin: 2%;
        padding: 0px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .card:nth-of-type(1) {
        margin-left: 8%;
    }
}

.cart_hover {
    background-color: aliceblue;
    opacity: 0.8;
    margin-top: 84%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 1%;
    padding-bottom: 0px;
    h2,
    p {
        color: black;
        text-align: center;
    }
    hr {
        width: 60%;
        border: none;
        height: 2px;
        /* Set the hr color */
        color: black;
        /* old IE */
        background-color: black;
        /* Modern Browsers */
        margin-left: 20%;
        padding: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    h2 {
        font-weight: 600;
        font-size: 19px;
    }
    p {
        margin-top: 1%;
        font-size: 17px;
        margin: 0px !important;
    }
    #cart_date {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .row {
        margin-top: 10%;
    }
    .cart_comment {
        display: flex;
        direction: rtl;
        img {
            width: 25px;
            height: 20px;
            margin-right: 10px;
            margin-bottom: 0px;
        }
        p {
            margin-bottom: 0px;
            padding-right: 15px;
        }
    }
}


/* -------------------------------- 

Horoof Negar Team

-------------------------------- */

#horof_team {
    text-align: center;
    margin-top: 4%;
    h1 {
        color: black;
        font-weight: 500;
    }
}

.team_members {
    margin-top: 2%;
    p {
        font-weight: 500;
        text-align: center;
    }
    p:nth-of-type(2) {
        margin-top: -20px;
    }
    p:nth-of-type(4) {
        margin-top: -20px;
    }
    img {
        margin-top: 10%;
        width: 37%;
        height: 37%;
    }
    div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

#team_members:nth-of-type(1) {}


/* -------------------------------- 

Contact Us

-------------------------------- */

#contactus_title {
    margin-top: 3%;
    text-align: center;
    h1 {
        color: $primaryColor;
        font-weight: bold;
    }
}

.contactus_mailandphone {
    p {
        font-weight: 500;
        padding-top: 12px;
        text-align: center;
        color: aliceblue;
    }
    #mobile_icon {
        width: 60px;
        padding-left: 20px;
    }
}

#contactus_mobile {
    float: left;
}
div.contactus_form {
    text-align: center;
    margin-top: 1%;
    direction: rtl;
    p {
        font-weight: bold;
        color: aliceblue;
        margin-top: -10px;
    }
    .btn-default {
        margin-top: 20px;
        background-color: $primaryColor;
        color: white;
        border-color: transparent;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        width: 160px;
        height: 40px;
        font-family: IRANSans;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        font-weight: bold;
    }
    .form-group {
        margin-top: 4%;
    }
    .form-control {
        margin-top: 10%;
        background-color: transparent;
        border: 0px solid rgba(0, 0, 0, .0000);
        border-bottom: 1px solid black;
        -webkit-box-shadow: inset 0 1px 1px transparent;
        box-shadow: inset 0 1px 1px transparent;
    }
    /* form starting stylings ------------------------------- */
    form {
        margin-top: 50px;
    }
    .group {
        position: relative;
        margin-bottom: 45px;
    }
    input {
        padding: 10px 10px 10px 5px;
        display: block;
        width: 350px;
        border: none;
        border-bottom: 1px solid #fff;
    }
    input:focus {
        outline: none;
    }
    /* LABEL ==================================== */
    label {
        direction: rtl;
        color: aliceblue;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 220px;
        top: 10px;
        width: 150px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    #contactus_message {
        left: 240px;
    }
    /* active state */
    input:focus ~ label,
    input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color:$primaryColor;
    }
    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 350px;
    }
    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: $primaryColor;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .bar:before {
        left: 50%;
    }
    .bar:after {
        right: 50%;
    }
    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }
    /* HIGHLIGHTER ================================== */
    /* active state */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }
    @-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }
    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }
}

input,
textare a {
    background-color: transparent;
}


/* -------------------------------- 

Footer

-------------------------------- */

.footer {
    h1 {
        position: absolute;
        right: 5%;
        left: 5%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-top: 5%;
    }
    p {
        position: absolute;
        text-align: center;
        color: aliceblue;
        margin-top: 10%;
        right: 5%;
        left: 5%;
    }
}

.footer_followus {
    display: flex;
    position: absolute;
    align-items: center;
    top: 220px;
    right: 510px;
    img {
        padding: 20%;
        width: 50px;
        height: 50px;
    }
}

#footer_line {
    color: antiquewhite;
    margin: 0px;
}

#under_footer {
    text-align: center;
    padding: 3%;
    color: white;
    background-color: #222222;
    span,a {
        color: $primaryColor;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    /* Container of Macbook and iPhone image to center them */
    .img-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        /* add */
        justify-content: center;
        /* add to align horizontal */
        align-items: center;
        /* add to align vertical */
    }
    /* Container of Macbook and iPhone Text to center them */
    .text-container {
        padding: 5% 0;
        float: right;
    }
    #macbook_title {
        direction: rtl;
        display: flex;
        padding-top: 23%;
        padding-right: 20%;
    }
    #macbook_text {
        padding-right: 17%;
    }
    #iphone_title {
        direction: rtl;
        display: flex;
        padding-top: 15%;
        padding-right: 17%;
    }
    #iphone_text {
        padding-right: 17%;
        padding-bottom: 21%;
    }
}


/* Between Md and Lg */

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .footer_followus {
        right: 410px;
    }
    .card {
        margin: 0px !important;
        width: 30% !important;
        margin-left: 2% !important;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width:992px) {
    /* image of team member */
    #horof_team {
        text-align: center;
        margin-top: 10%;
    }
    #team_members {
        img {
            margin-top: 25%;
            width: 60% !important;
            height: 60% !important;
        }
    }
    /* social network of footer */
    .footer_followus {
        right: 300px;
    }
    .card {
        margin: 0px !important;
        width: 31% !important;
        margin-left: 2% !important;
    }
    .cart_hover {
        margin-top: 250px;
    }
    #contctus_email {
        height: 40px;
        width: 60px;
    }
    #macbook_title {
        padding-left: 3%;
    }
    #macbook_text {
        padding: 1% 3% 1% 1%;
    }
    .contactus_form {
        margin-left: 80px;
        p {
            margin-left: 100px;
        }
        .btn-default {
            margin-left: 150px;
        }
        label {
            left: 320px !important;
        }
    }
    #iphone_title {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    #iphone_aboutus img {
        width: 100%;
    }
    #iphone_text {
        margin-top: 60px;
        margin-bottom: 110px;
    }
    #iphone_image {
        height: 750px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width:768px) {
    /* Title of team member */
    #horof_team {
        text-align: center;
        margin-top: 15%;
    }
    #team_members {
        img {
            margin-top: 3%;
            width: 25% !important;
            height: 25% !important;
        }
    }
    #section8 {
        margin-top: -25px;
    }
    .footer {
        p {
            margin-top: 13%;
        }
    }
    /* social network of footer */
    .footer_followus {
        right: 260px;
    }
    .card {
        margin: 0px !important;
        width: 44% !important;
        margin-left: 4% !important;
    }
    .cart_hover {
        margin-top: 230px;
    }
    #macbook_title {
        padding-left: 5%;
    }
    .contactus_form {
        margin-left: 80px;
        p {
            margin-left: 100px;
        }
        .btn-default {
            margin-left: 150px;
        }
        label {
            left: 250px !important;
        }
    }
    /* Navbar in mobile size*/
    #navbar-primary .container-fluid {
        background-size: 120% 100px;
    }
    .navbar-default .navbar-collapse {
        background-color: #052546;
    }
    #navbar-primary .navbar-nav {
        //  background: #ededed;
        width: 100%;
        text-align: center;
        > li {
            display: inherit;
            float: none;
        }
    }
    .pages {
        visibility: hidden;
    }
    #iphone_title {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    #iphone_aboutus img {
        width: 100%;
    }
    #iphone_text {
        margin-top: 60px;
        margin-bottom: 110px;
    }
    #iphone_image {
        height: 750px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    /* Title of team member */
    #horof_team {
        text-align: center;
        margin-top: 8%;
    }
    /* image of team member */
    #team_members {
        img {
            margin-top: 3%;
            width: 30% !important;
            height: 30% !important;
        }
    }
    #section8 {
        margin-top: -30px;
    }
    .footer {
        p {
            margin-top: 20%;
        }
    }
    /* social network of footer */
    .footer_followus {
        right: 170px;
    }
    #contactus_title {
        margin-top: 15%;
    }
    .frame {
        margin-left: -30px;
    }
    .card {
        width: 60% !important;
        margin-left: 18% !important;
    }
    .cart_hover {
        margin-top: 240px;
    }
    #macbook_title {
        padding-left: 5%;
    }
    .contactus_form {
        margin-left: 120px;
        p {
            margin-left: -60px;
        }
        .btn-default {
            margin-left: 0px;
        }
        label {
            left: 90px !important;
        }
    }
    /* Navbar in mobile size*/
    #navbar-primary .container-fluid {
        background-size: 130% 150px;
        background-position: -20px;
    }
    /* Navbar in mobile size*/
    .navbar-default {
        background-color: #052546 !important;
    }
    .navbar-default .navbar-collapse {
        background-color: #052546;
    }
    #navbar-primary .navbar-nav {
        //  background: #ededed;
        width: 100%;
        text-align: center;
        > li {
            display: inherit;
            float: none;
        }
    }
    .pages {
        visibility: hidden;
    }
    #iphone_title {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    #iphone_aboutus img {
        width: 100%;
    }
    #iphone_text {
        margin-top: 60px;
        margin-bottom: 110px;
    }
    #iphone_image {
        height: 750px;
    }
}